  
  <link rel="stylesheet" href="../assets/css/user_profile.css">
  <!-- <nav><button id="sign-out" href="/users/sign-out">Sign Out</button></nav> -->
  <div class="user">
        <p>
            <%= locals.user.name %> you are welcomed in Extrocial !!
            <h1>A unique place to hangout!!!</h1>
        </p>
    </div>
