
<h1> Sign Up !! </h1>

<div class="signup">

    <form action="/users/create" method="post">

        
        <input type="text" name="name" required placeholder="Your Name">
        <input type="email" required name="email" placeholder="Email">
        <input type="password" required name="password" placeholder="Password">
        <input type="password" required name="confirm_password" placeholder="Confirm Password">
        <button type='submit' >Sign Up </button>

    </form>
    
</div>