<h1>Sign In</h1>

<div class="login">

<form action="/users/create-session" method="post">
    
    <input type="email" name="email" placeholder="EMAIL" required>
    <input type="password" name="password" placeholder="PASSWORD" required>

    <a href="">Forget Password</a>

    <button type="submit">Sign In</button>

</form>

</div>